body {
    margin-left: 144px; margin-top: 0;
    background:url('original.png');
    background-position: 144px 0;
    background-repeat: no-repeat;
    background-color: #303030;
}
.i {
    position:absolute;
    display:block;
}
.small {
	width:16px;
	height:16px;
}
.big {
	width:32px;
	height:32px;
}
.o {
    display:none;
}
.i:hover .o {
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
img {
    vertical-align:top;
}
div {
	position:absolute;
	width:1645px;
    height:1448px;
}

#text {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: white;
    left: 160px;
    top: 16px;
    margin: 0;
}

#text2 {
    position: fixed;
    font-family: Arial;
    font-size: 16px;
    color: white;
    left: 160px;
    bottom: 23px;
    margin: 0;
    width: 1613px;
}

button {
    border: none;
    background-color: pink;
    opacity: 60%;
    position: fixed;
    width: 112px;
    height: 32px;
    font-size: 16px;
    font-stretch: semi-condensed;
    font-weight: bold;
}
button:hover {
    cursor: pointer;
}

#LinkBtn {
    display: block;
    width: 112px;
    padding: 6px 0;
    text-decoration: none;
    color: Black;
}